* {
    border: 1px solid red;
}

table {
    border-collapse: collapse;
}

thead {
    border: 1px solid black
}

td {
    vertical-align: middle;
    border: 1px solid black;
}

th {
    border: 1px solid black;
    border-bottom: 2px solid black;
    text-align: left;
}

div.content-wrap {
    display: flex;
}

.checkbox {
    display: block;
    margin: 0 auto;
}

.greyed {
    color: rgb(182, 182, 182);
}