* {
    border: 1px solid red;
}

table {
    border-collapse: collapse;
}

thead {
    border: 1px solid black
}

td {
    vertical-align: middle;
    border: 1px solid black;
}

th {
    border: 1px solid black;
    border-bottom: 2px solid black;
    text-align: left;
}